
.headcenter {
    text-align: center;
}
.searchCity {
    float:left;
}
.pickedCity {
    float: right;
    display: flex;
    flex-direction: column;
}
.inline {
    display: flex;
    justify-content: space-between;
}
#search-btn {
   display: flex;
   justify-content: center;
}